@charset "UTF-8";
body {
	opacity: 1;
}

.header {
	color : yellow;
}

.container {
	width: 1320px;
	font-size: 12px;
	background: skyblue;
}

.input {
	margin: 0 auto;
	padding: 20px;
}

.input_button {
	margin-left: 10px;
	padding: 8px;
}
